body {
  background-color: #62dfef;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  font-size: 20px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

h1 {
  color: 000000;
  text-align: center;

}

h2 {
  font-family: 'Josefin Slab', serif;
  font-size: 20px
}

p {

}
